<%= render "shared/navbar" %>



<div class="container clinic-show">

  <h1>TechnoPet<%#= @clinic.name %></h1>
  <h3>Hong Kong, Tsim Sha Tsui, Stanley Road 5<%#= @clinic.location %></h3>


  <!-- <div class="row"> -->

<!-- Left column -->
<!--     <div class="col-1 clinic-show-buttons">
  <div class= "row" >
        <div class="col align-self-end">


    </div>
      </div>
    </div> -->


<!-- Right column  -->
    <div class="row col clinic-show-vet-cards">
      <%# @clinic.vets.each do |vet| %>

      <!-- VET No.1 -->
        <div class= "col m-3 clinic-show-one-vet" style="background-color: white;">
          <div style="text-align: center; height: 230px;">
            <img src="https://images.unsplash.com/photo-1597471897992-154dc358facf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="photo" class="avatar vet-profile-picture">
          </div>
          <div>
          <p><strong>Name: </strong>Chai Foon, DVM<%#= vet.first_name %> <%#= vet.last_name %></p>
          <p><strong>Education: </strong>City University of Hong Kong</p>
          <p><strong>Specialty: </strong> Internal medicine<%#= vet.speciality %></p>
          </div>
          <div class="vet-bio-box">
            <p><strong>Bio: </strong>Dr Chai grew up in Hong Kong where his love of animals began early in life.  His childhood was spent caring for a variety of animals from cats and dogs to tadpoles, snakes, and birds.<%#= vet.bio %></p></span>
          </div>
          <div style="text-align: center">
            <%= button_to "book", new_clinic_booking_path(@clinic.id), class: "btn button-to-edit-vet" %>
          </div>
        </div>
      <%# end %>


      <!-- VET No.2 -->
        <div class= "col m-3 clinic-show-one-vet" style="background-color: white;">
          <div style="text-align: center">
            <img src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="photo" class="avatar vet-profile-picture">
          </div>
          <p><strong>Name: </strong>Meredith Grey, DVM<%#= vet.first_name %> <%#= vet.last_name %></p>
          <p><strong>Education: </strong>City University of Hong Kong</p>
          <p><strong>Specialty: </strong> Dentistry<%#= vet.speciality %></p>
          <div class="vet-bio-box">
            <p><strong>Bio: </strong> Dr Grey attended CityU to earn a Bachelor in Veterinary Medicine. During her studies, Dr Grey spent her summers assiting her father's private practice. <%#= vet.bio %></p>
          </div>
          <div style="text-align: center">
            <%= button_to "book", new_clinic_booking_path(@clinic.id), class: "btn button-to-edit-vet" %>
          </div>
        </div>
      <%# end %>

      <!-- VET No.3 -->
        <div class= "col m-3 clinic-show-one-vet" style="background-color: white;">
          <div style="text-align: center">
            <img src="https://images.unsplash.com/photo-1590074251929-76f7c465a3bd?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80" alt="photo" class="avatar vet-profile-picture">
          </div>
          <p><strong>Name: </strong>Sean Murphy, DVM<%#= vet.first_name %> <%#= vet.last_name %></p>
          <p><strong>Education: </strong>University of Glasgow</p>
          <p><strong>Specialty: </strong>Emergency and Critical care<%#= vet.speciality %></p>
          <div class="vet-bio-box">
          <p><strong>Bio: </strong> Dr Murphy grew up in Macau, and attended the University of Glasgow for his undergraduate education. He also specializes in treating feline diseases. <%#= vet.bio %></p>
          </div>
          <div style="text-align: center">
            <%= button_to "book", new_clinic_booking_path(@clinic.id), class: "btn button-to-edit-vet" %>
          </div>
        </div>
      <%# end %>

    </div>


  <!-- </div> -->

</div>






