
    <p>for users can see clinic's details/location</p>
    <p>for vet can see bookings</p>


    <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  

