
  .booking-form-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: $submit-button-green;
  height-max: 300px;
  border-radius:3px;
  
   h2 {
    color: $submit-button-orange;
    text-align: center;
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  
   }
  }