
.clinic-cards {
  //border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  justify-content: space-around;
}

.test-one-clinic-card {
  display: flex;
  width: 400px;
  height: auto;
  margin: 10px;
  background-color: #006A71;
  border-radius: 10px;
  transition: .4s ease;
  box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.2);
}

.test-one-clinic-card:hover {
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transform: translate3D(0, 1px, 1rem) scale(1.02);
  transition: all 0.5s ease;
}

.test-clinic-logo img {
  height: 150px;
  width: 150px;
  border: 15px solid #ECF4F3;
  border-radius: 50%;
}

.test-clinic-logo,
.test-one-clinic-card-description {
  padding: 20px;
  text-align: right;
  //direction: ltr;
  color: white;
}


a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/////////////////////////////

.one-booking-col {
  margin-top: 20px;
  border: 1px solid lightgray;
}

.one-booking-col-btn {
  margin-top: 5px;
  margin-right: 5px;
  background-color: #FF7E67;
  color: white;
}

.one-booking-col-btn:hover {
  background-color: white;
  border: 1px solid #FF7E67;
  color: #FF7E67;
}

// #c-col-item a{
//     color: black;
// }

// #c-col-item:hover {
//   background-color: #FF7E67;
//   color: white;
// }



//


