
// LEFT COLUMN
.avatar-owner-profile {
  background-size: cover;
  background-position: top center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.owner_avatar{
  background-size: cover;
  background-position: top center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  object-fit: cover;
}


.owner-profile-name,
.owner-profile-phone,
.owner-profile-email {
  text-align: center;
}


//  RIGHT COLUMN

// booking


.one-booking-col {
  margin-top: 20px;
  border: 1px solid lightgray;
  width: 600px;
}

.one-booking-col-grey-bar {
  background-color: lightgray;
  width: 1%;
}

.one-booking-a-col{
  width: 15%;
  margin-right: 10px;
  padding: 5px 0 10px 10px;
}

.one-booking-b-col{
  width: 65%;
}

.one-booking-c-col{
  width: 20%;
}

.one-booking-col-btn {
  margin-top: 5px;
  margin-right: 5px;
  background-color: #FF7E67;
  color: white;
}

.one-booking-col-btn:hover {
  background-color: white;
  border: 1px solid #FF7E67;
  color: #FF7E67;
}

.manage-booking-item p {
  padding: 0;
  margin: 0;
}

.manage-booking-item:hover {
  background-color: rgba(254,126,104,0.2);
}

// pet cards


@import url(https://fonts.googleapis.com/css?family=Raleway|Reenie+Beanie);

.pet-card-container {
  box-sizing: border-box;
  //border: 1px solid black;
}

// html,
// body {
//   margin: 5%;
//   font-family: "Raleway", sans-serif;
//   line-height: 1.5em;
// }

.pet-card-front .front-avatar-square {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.pet-card-back a {
  text-decoration: none;
}

.pet-card-caption,
.pet-card-back h1,
.pet-card-date {
  margin: 0;
  text-align: center;
}

.pet-card-caption,
h1 {
  font-family: "Reenie Beanie", sans-serif;
  font-size: 2em;
  padding: 10px 10px 0 10px;
}

.pet-card-date {
  font-size: 0.75em;
}

.pet-card-description {
  font-size: 0.9em;
  padding: 0 20px;
  text-align: left;
}

.pet-card-container {
  perspective: 1000px;
  display: inline-block;
  //margin: 20px;
  //border: 1px solid black;
}

.pet-card-container:hover .pet-card-flipper {
  transform: rotateY(180deg);
}

.pet-card-container,
.pet-card-front,
.pet-card-back {
  width: 250px;
  height: 250px;
  //margin: 20px;
}

.pet-card-flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.pet-card-front,
.pet-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pet-card-front {
  z-index: 2;
}

.pet-card-back {
  transform: rotateY(180deg);
}

// .button-view-pet-record{
//   background-color: $submit-button-orange;
//   color: white;
//   align-self: center;
// }

// .button-view-record:hover {
// color: white;
// opacity: 0.8;

// }

.button-view-pet-record,
.button-edit-pet-record,
.button-remove-pet{
    color:$submit-button-green;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    //margin-right:20px;
    text-align:center;
}



// clinic cards

.clinic-cards {
  //border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.one-clinic-card {
  display: flex;
  justify-content: center;
  //direction: ltr;
  width: 400px;
  height: 230px;
  margin: 10px;
  background-color: #006A71;
  border-radius: 10px;
  transition: .4s ease;
  box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.2);
}

.one-clinic-card:hover {
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transform: translate3D(0, 1px, 1rem) scale(1.02);
  transition: all 0.5s ease;
}

.one-clinic-logo .clinic-initial {
  //font-family: "Times New Roman";
  font-size: 80px;
  color: lightgray;
  text-align: center;
  border: 5px solid white;
  height: 100px;
  width: 100px;
  padding-left: 0;
  border-radius: 50%;
  margin: 0;
}

.one-clinic-logo img {
  height: 100px;
  width: 100px;
  //border: 15px solid #ECF4F3;
  border-radius: 50%;
  margin: 0;
  //padding-right: 5px;
}

.one-clinic-logo {
  //border: 3px solid red;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  direction: ltr;
  color: white;
  margin: 0;
  width: 150px;
  height: 150px;
  background-color: none;
}


.one-clinic-card-description {
  //border: 1px solid white;
  padding: 20px;
  text-align: right;
  direction: rtl;
  color: white;
  width: 200px;
  height: 100%;
}


.clinic-card-description p{
  font-weight: 400;
  padding-bottom: 0;
  margin-top: 10px;
  //border: 1px solid white;
  //height: 100%;
  //width: 100%;
}



a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}





