.petshow {
  height: 100vh;
}

.pet-show-header{
h4 {
   color: $submit-button-orange;
   font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 20px;
  margin-top: 20px;
 }
}


.back-underline {
  font-size: 0.75em;
}


.flip-card-petshow {
  perspective: 1000px;
  display: inline-block;
  // margin: 3%;
}

.flip-card-petshow:hover .flipper-card-petshow {
  transform: rotateY(180deg);
}

.flip-card-petshow,
.flipper-card-front,
.caption-card-back {
  width: 280px;
  height: 280px;
}

.flipper-card-petshow {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flipper-card-front {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caption-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
.back-underline{
  color:$submit-button-green;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-left: 10px;
}
}

.card-back-name {
  color: $submit-button-orange;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  text-align:center;
 }

.flipper-card-front {
  z-index: 2;
}

.caption-card-back {
  transform: rotateY(180deg);
}

#content {
  text-align: center;
}

.vaccinations-header {
 h4 {
   color: $submit-button-orange;
   font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  padding-left: 25px;
}
}

.medicalrecord {
text-align: left;
padding-top: 0px;
h4 {
   color: $submit-button-orange;
   font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 10px;
  }
}

.vaccination-content {
padding-left: 0;
margin-left: 0;
}

.container-vaccinations-flow {
height: 150px;
overflow: auto;
padding-left: 0;
}

.info-written {
  overflow: hidden;
  align-items: center;
 p {
  color:$submit-button-green;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 15px;
}
}



.petavatar-fixed {
  width: 100%;
  height: 100%;
  // border-radius: 5%;
  border: 1px solid white;
  background-size: cover;
  object-fit: cover;;
}

.avatar-doggy {
  // margin: 5px 5px;
  width: 100%;
  height: 100%;
  // border-radius: 5%;
  border: 1px solid white;
  background-size: cover;
  object-fit: cover;

}


.header-a {
  color:$submit-button-green;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.first-row{
   padding: 10px 10px;
}

.dotted-line {
  margin-top: 20px;
  margin-bottom:20px;
  // border-bottom: 15px dotted $submit-button-orange;
}

.input-diagnosis {
  text-decoration: none;
  color:$submit-button-green;
  padding-right: 20px;
}

.input-diagnosis-vaccinations{
color:$submit-button-orange;
  padding-right: 20px;
  text-decoration: none;

}

.input-diagnosis:hover {
opacity: 0.7;
}

.one-diagnosis {
  background-color: $submit-button-green;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.diagnosis {
  padding: 15px 15px;
  // border-bottom: 5px dotted $submit-button-orange;
}

.medicalrecord{
  text-align: left;
}

.btn-record {
  color:white;
  background-color: $submit-button-orange;
  padding: 5px 15px;
  border: 1px solid $submit-button-orange;
  border-radius: 5px;
  text-align:center;
}

.btn-record:hover {
  text-decoration: none;
  opacity: 0.8;
  color:white;
  text-align: center;
}


.last-box {
border-style: none;
}

.one-vaccination {
  background-color: $submit-button-green;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}

.one-vaccinations-header {
  color:$submit-button-green;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.one-vaccination-d {
background-color: $my-background-color;
height: 100px;
overflow: auto;
}

.one-diagnosis-c {
  height: 70px;
  overflow: auto;
}

// .one-diagnosis-date {
//   height: 70px;
//   overflow: auto;
// }

.one-diagnosis-b {
  height: 70px;
  overflow: auto;
}

.one-vaccination-a {
  height: 50px;
  overflow: auto;
  p {
    margin: 0;
    padding:0;
  }
}


.one-vaccination-b {
  height: 50px;
  overflow: auto;
}


.one-vaccination-c {
  height: 50px;
  overflow: auto;
}

.vaccinations {
 padding: 10px 10px;
  // border-bottom: 5px dotted $submit-button-orange;
  height:100%;
  width:100%;
}

.btn_back {
  text-decoration: none;
  color: $submit-button-green;
  padding: 15px 15px;
}

