





<%= render "shared/navbar" %>
<%= link_to 'My profile', owner_path(current_user) %>

<body>
  <h2 style="color: #FF7E67; font-weight: 400; text-align: center">Clinics within your area</h2>

    <div class="row users-dashboard" style="margin-top: 30px">

      <div class="col-7">
        <div class="container clinic-cards">
          <% 6.times do %>
            <%= link_to clinics_path(@clinic) do %>
              <div class="one-clinic-card">
                <p class="clinic-description"><strong>Clinic name:</strong> Techno pet</p>
                <p class="clinic-description"><strong>Address:</strong>Hong Kong, Tsim Sha Tsui, Stanley Road 5</p>
                <p class="clinic-description">⭐️ ⭐️ ⭐️ ⭐️</p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
