.vet-new-background {
  background-size: cover;
  background-position: center;
  padding: 200px;
  display: flex;
  background-image: image-url("paws.png");
  height: 100vh;
}


.form-inputs-vet {
  margin-top: 0;
}

  .vet-new-form-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $submit-button-green;
    height-max: 300px;
    border-radius:3px;
    h4 {
     color:$submit-button-orange;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align:center;
    margin-top:20px;

   }
  }

  .form-inputs-vet {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 10px;

  }

.vet-new-buttons {
margin-top: 10px;

.submit_class {
  color:white;
  background-color: $submit-button-orange;
  padding: 8px 13px;
  border: 1px solid $submit-button-orange;
  border-radius: 5px;
  width: 80px;
  text-align:center;
  margin-right: 5px;



}
.btn_back {
  color:$submit-button-orange;
  background-color: white;
  padding: 8px 13px;
  border: 1px solid $submit-button-orange;
  border-radius: 5px;
  width: 80px;
  text-align:center;
  margin-left: 5px;


}
}
