.button-to-edit-clinic {
  color: #006A71;
  background-color: white;
  border: 1px solid #006A71;
  padding: 5px 30px;
  margin-right: 10px;
  margin-top: 10px;
}

.button-to-edit-clinic-right {
  color: #006A71;
  background-color: white;
  border: 1px solid #006A71;
  padding: 5px 30px;
  margin-top: 10px;
}

.button-to-edit-clinic-right:hover {
  background-color: #006A71;
  color: white;
}

.button-to-edit-clinic:hover {
  background-color: #006A71;
  color: white;
}

.clinic-basic-info {
  margin-top:20px;
  background-color: white;
  overflow: hidden;
  border-radius:5px;
  min-height: 340px;
  flex-wrap: wrap;
}

.container-clinic-name {

    h4 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  // font-weight: 400;  margin-top: 10px;
  padding-top: 10px;
  color: #036A71;
  font-family: 'Montserrat', sans-serif;
  // margin-top: 8px;

 }
  p {
  margin-bottom: 0;
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  }
  h5 {
  font-weight: 200;
  color: #006A71;
  font-size: 12px;
  text-align: left;
  // margin-bottom: 20px;
  // padding-bottom: 10px;
  text-align: center;
  color: #FF7E67;

}
}



.about-header {
 font-weight: 400;
  color: #FF7E67;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;  margin-top: 10px;
  padding-top: 10px;
}

.clinic_picture_show  {
  object-fit: cover;
  width: 600px;
  height: 320px;
  border-radius:5px;
}

.clinic_logo_show {
  object-fit: cover;
  width: 300px;
  height: 300px;
}


.carousel-inner-vet {
  height: 320px;
  border: 1px solid lightgray;
}

.carousel-vet{
  // background-color: white;
}



////////////////////////////////

.bio-vets {
   background-color: white;
  padding: 20px 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  min-height:320px;
  h3 {
 font-weight: 400;
 color: #FF7E67;
 font-family: 'Montserrat', sans-serif;
  }
}

.clinic-show-container{
  //border: 1px solid green;
  margin: 0 auto;
}

.clinic-show-cards {
  padding: 0 auto;
  justify-content: center;
  align-items: center;
  min-height: 320px;
  flex-wrap: wrap;
}
.clinic-show-vet {
  border-radius: 20px;
 // border: 1px solid red;
  color: black;
  width: 500px;
  display: flex;
  margin: 10px 10px;
  min-height: 320px;
  font-family: 'Montserrat', sans-serif;

  // background-color: #036A71;
}

// cl_image_tag ( vet.photo.key, :transformation => [
//   {:radius: 50%}
//   ])


.vet-profile-picture {
  object-fit: cover;
  width: 150px;
  height: 150px;
  //border: 2px solid red;
}

.cloudinary-vet-profile-picture {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px 5px;
  //border: 2px solid red;
}

.clinic-show-bio {

}

.clinic-show-vet-name {
  border-bottom: 1px solid lightgray;
  // margin-top: 20px;
  color: #036A71;
  font-family: 'Montserrat', sans-serif;
}

.vet-bio-div{
  overflow: auto;
  //border: 2px solid red;
  padding: 0;
  height: 150px;
  margin-bottom: 10px;
  opacity: .9;
  // color: #036A71;

}

.button-to-edit-vet {
  background-color: #FF7E67;
  color: white;
  padding: 5px 30px;
  margin-bottom: 10px;
}

///////////////////////////////

.clinic-show-buttons {
  background-color: green;
  height: 100vh
}
